.input {
  border: none;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0 1.2rem;
  border-radius: 0.4rem;
  transition: 300ms;

  &:active,
  &:focus {
    outline: 0;
    transition: 300ms;
    transform: scale(0.999);
  }

  &--textarea {
    height: 15rem;
    font-size: 1.6rem;
    width: 100%;
    font-weight: 400;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    font-family: inherit;
  }

  &--rounded{
    border-radius:10rem;
  }

  &--small {
    height: 3rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 0 1.2rem;
  }

  &--normal {
    height: 5rem;
    font-size: 1.6rem;
    width: 100%;
  }

  &--large {
    height: 6rem;
    font-size: 3rem;
    width: 100%;
    padding: 0 1.2rem;
    // border-radius: 0.5rem;
  }

  &--text-right {
    text-align: right;
  }

  &--white {
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 0.8;
  }

  &--primary {
    color: var(--text-color);
    // border:1px solid
    border: 1px solid var(--content-background);
  }
}

.label {
  font-size: 1.6rem;
}

.input:disabled {
  // background:rgb(255, 223, 223);
  background: white;
  color: black;
}

.error {
  color: var(--error-color);
  font-size: 1.4rem;
  margin: 1rem 0;

  &--center {
    text-align: center;
  }
}

.success {
  color: var(--success-color);
  font-size: 1.4rem;
  margin: 1rem 0;

  &--center {
    text-align: center;
  }
}
